* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Cambria", sans-serif;
    color: var(--normalFontColor);
}

:root {
    --seperatorHeight: 9.4rem;
    --seperatorFontSize: 3.2rem;
    --charcoal: #323437;
    --darkCharcoal: #1F1F1F;
    --normalFontColor: #F0F0F0;
    --navHeight: 6.25rem;
    --deepRed: #5B1C25;
    --beigeDoor: #BAB4A0;
    --peach: #FFD8CF;
    --bodyHeight: 40rem;
    --pinRed: #D63633;
    --blueberry: #395687;
    --buttonNormal: #d63633ff;
    --buttonClicked: #9e1d1bff;
    --buttonHover: #db7371ff;
}


/* ===========================================================================================================*/

.madeline__body {
    height: var(--bodyHeight);
    display: flex;
   
    justify-content: center;
    /*height: 5%;*/
}

.madeline__body__1 {
    /*height: 50rem;*/
   /* border: 2px solid black;*/
    justify-content: center;
    display: flex;
    background: var(--peach);
    height: 10%;

}

#m+s-image {
    width: auto;
    height: auto;
    display: flex;
}



/* ===========================================================================================================*/

.pinterest__container {

}

.pinterest__header {
    font-size: 2rem;
}

.pinterest__body {
    display: flex;
    background: var(--pinRed);
    width: 100%;
/*    border: 3px solid blue;
*/    justify-content: center;
    align-items: center;
    height: var(--bodyHeight);
}

#pinterest__link {
    justify-content: center;
    display: flex;
    background: var(--pinRed);
   width: 20%;
    transition: 0.3s ease;

}

#pinterest__link:hover {
    width: 25%;
    transition: 0.3s ease;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

#pinterest__icon {
    width: 100%;
    height: auto;
}


/* ===========================================================================================================*/
/* ----------------------- Navbar ----------------------- */
.main__header {
    height: 5rem;
    display: flex;
    justify-content: left;
    background: var(--darkCharcoal);
    color: var(--normalFontColor);
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 2rem;
    font: "Brush Script MT";
    font-style: italic;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.main__descriptor__text {
    /*border: 2px solid black;*/
    width: 70%;
    stroke: black;
    stroke-width: 3px;
    color: var(--normalFontColor);
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    background: var(--darkCharcoal);

    height: 20%;
/*    height: 40%;*/
}

.main__descriptor {
    width: 100%;

    justify-content: center;
    /*border: 2px solid black;*/
    display: flex;
    align-items: center;
}

.cutey__image {
    height: 100%;
    display: flex;
    border: 8px solid var(--charcoal);
}

.fuckoMode {
    border: 8px solid var(--darkCharcoal);
    font-size: 2rem;
    width: 100%;
    height: 60rem;
    display: flex;
    /* border: 3px dashed black;*/
    /*background: url(Images/nebula.jpg);*/
    background: linear-gradient(90deg, var(--darkCharcoal) 0%, var(--deepRed) 80%, var(--deepRed) 90%);
    background-size: 100%;
}

.footer {
    background: var(--darkCharcoal);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--seperatorHeight)
}

/* ================================================================= */


.tetris__header {
    height: var(--seperatorHeight);
    background: var(--darkCharcoal);
    font-size: var(--seperatorFontSize);
    align-items: center;
    justify-content: center;
    display: flex;
}

.tetris__password__input {
    background: var(--blueberry);
    color: var(--charcoal);
    /*height: var(--bodyHeight);*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    font-size: 40px;
}
.tetris__button {
    background: var(--blueberry);
    justify-content: center;
    display: flex;
    height: 4rem;
    /*padding: 1rem 1rem;*/
}

#button {
    background: var(--buttonNormal);
    width: 8rem;
    height: 3rem;
    transition: all 0.3s ease;
    font-size: 1.4rem;
}

    #button:hover {
        background: var(--buttonHover);
        /*color: var(--charcoal);*/
        transition: all 0.3s ease;
        box-shadow: 0 0 20px rgba(0,0,0,0.7); 
        width: 8.3rem;
        height: 3.3rem;
        font-size: 1.5rem;
    }

    #button:active {
        font-size: 1.4rem;
        background: var(--buttonClicked);
        color: var(--charcoal);
        width: 8rem;
        height: 3rem;
        transition: all 0.01s;
    }

/*#tetris_button:hover {
    background: var(--peach);
    width: 5rem;
    height: 2rem;
    transition: all 0.3s ease;
}*/

#tetrisInput {
    background: var(--darkCharcoal);
    width: 20%;
    height: 10%;
    padding: 0 2rem;
    justify-content: center;
    display: flex;
    font-size: 40px;
}
/* ===========================================================================================================*/

.test__body {
    height: 100vh;
    display: flex;
    background: rgb(27,1,102);
    background: linear-gradient(126deg, rgba(27,1,102,1) 0%, rgba(157,45,117,1) 100%);
    justify-content: center;
    align-items: center;
}

.test__images {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
}

#ocd__img {

    width: 50%;
    height: 50%;

}

#depression__img {

    width: 50%;
    height: 50%;

}

#adhd__img {
    width: 50%;
    height: 50%;
}