* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Cambria", sans-serif;
    color: var(--normalFontColor);
}

:root {
    --seperatorHeight: 5rem;
    --seperatorFontSize: 3.2rem;
    --charcoal: #323437;
    --darkCharcoal: #1F1F1F;
    --normalFontColor: #F0F0F0;
    --navHeight: 6.25rem;
    --deepRed: #5B1C25;
    --beigeDoor: #BAB4A0;
    --peach: #FFD8CF;
    --bodyHeight: 40rem;
    --pinRed: #D63633;
    --blueberry: #395687;
    --buttonNormal: #d63633ff;
    --buttonClicked: #9e1d1bff;
    --buttonHover: #db7371ff;
}

@font-face {
    font-family: "Simbiot";
    src: url("Fonts/Simbiot.ttf");
    font-weight: normal;
    font-style: normal;
}

/* ===========================================================================================================*/

.madeline__body {
    height: var(--bodyHeight);
    display: flex;
   
    justify-content: center;
    /*height: 5%;*/
}

.madeline__body__1 {
    /*height: 50rem;*/
   /* border: 2px solid black;*/
    justify-content: center;
    display: flex;
    background: var(--peach);
    height: 10%;

}

#m+s-image {
    width: auto;
    height: auto;
    display: flex;
}



/* ===========================================================================================================*/

.pinterest__container {

}

.pinterest__header {
    font-size: 2rem;
}

.pinterest__body {
    display: flex;
    background: var(--pinRed);
    width: 100%;
/*    border: 3px solid blue;
*/  justify-content: center;
    align-items: center;
    height: 80vh;
}

#pinterest__link {
    justify-content: center;
    display: flex;
    background: var(--pinRed);
    width: 20%;
    transition: 0.3s ease;

}

#pinterest__link:hover {
    width: 25%;
    transition: 0.3s ease;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

#pinterest__icon {
    width: 100%;
    height: auto;
}


/* ===========================================================================================================*/
/* ----------------------- Navbar ----------------------- */
.main__header {
    height: 5rem;
    display: flex;
    justify-content: left;
    background: var(--darkCharcoal);
    color: var(--normalFontColor);
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 2rem;
    font: "Brush Script MT";
    font-style: italic;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.main__descriptor__text {
    /*border: 2px solid black;*/
    width: 70%;
    stroke: black;
    stroke-width: 3px;
    color: var(--normalFontColor);
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    background: var(--darkCharcoal);

    height: 50%;
/*    height: 40%;*/
}

.main__descriptor {
    width: 70%;
    height: 90vh;

    justify-content: center;
    /*border: 2px solid blue;*/
    display: flex;
    align-items: center;
}

.cutey__image {
   max-width: 95vw;
   max-height: 80vh;

    display: flex;
    border: 8px solid var(--darkCharcoal);
}

.fuckoMode {
    border: 8px solid var(--darkCharcoal);
    font-size: 2rem;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px dashed black;*/
    /*background: url(Images/nebula.jpg);*/
    background: rgb(91,28,37);
    background: linear-gradient(126deg, rgba(91,28,37,1) 0%, rgba(0,0,0,1) 33%, rgba(91,28,37,1) 100%);
    background-size: 100%;
}

.footer {
    background: var(--darkCharcoal);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--seperatorHeight)
}

/* ================================================================= */


.tetris__header {
    height: var(--seperatorHeight);
    background: var(--darkCharcoal);
    font-size: var(--seperatorFontSize);
    align-items: center;
    justify-content: center;
    display: flex;
}

.tetris__password__input {
    background: var(--blueberry);
    color: var(--charcoal);
    /*height: var(--bodyHeight);*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    font-size: 40px;
}
.tetris__button {
    background: var(--blueberry);
    justify-content: center;
    display: flex;
    height: 4rem;
    /*padding: 1rem 1rem;*/
}

#button {
    background: var(--buttonNormal);
    width: 8rem;
    height: 3rem;
    transition: all 0.3s ease;
    font-size: 1.4rem;
}

    #button:hover {
        background: var(--buttonHover);
        /*color: var(--charcoal);*/
        transition: all 0.3s ease;
        box-shadow: 0 0 20px rgba(0,0,0,0.7); 
        width: 8.3rem;
        height: 3.3rem;
        font-size: 1.5rem;
    }

    #button:active {
        font-size: 1.4rem;
        background: var(--buttonClicked);
        color: var(--charcoal);
        width: 8rem;
        height: 3rem;
        transition: all 0.01s;
    }

/*#tetris_button:hover {
    background: var(--peach);
    width: 5rem;
    height: 2rem;
    transition: all 0.3s ease;
}*/

#tetrisInput {
    background: var(--darkCharcoal);
    width: 20%;
    height: 10%;
    padding: 0 2rem;
    justify-content: center;
    display: flex;
    font-size: 40px;
}
/* ===========================================================================================================*/

.test__body {
    min-height: 30vh;
    height: 100%;
    display: flex;
    background: rgb(27,1,102);
    background: linear-gradient(126deg, rgba(27,1,102,1) 0%, rgba(157,45,117,1) 100%);
    justify-content: center;
    align-items: center;
}

.test__images {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.mental__image {
    padding: 1rem 1rem;
    min-height: 10rem;
    display: flex;
    height: 90%;
    background: rgb(120, 120, 120, 0.43);
    align-items: center;
    width: 20%;
    min-width: 10rem;
    font-size: 3vw;
    justify-content: center;
    text-decoration: none;
}

.mental__image:hover {
    background: rgb(120, 120, 120, 0.6);
    display: flex;
    /*height: 60%;*/
    background: rgb(120, 120, 120, 0.43);
    align-items: center;
    width: 25vw;
    font-size: 4vw;
    justify-content: center;
    transition: 0.3s ease;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

#ocd__link {
    left: 0;
    top: 0;
    transition: left 2s, top 2s;
}

/* ===========================================================================================================*/

.trans__body {
    height: var(--seperatorHeight);
    background: rgb(89,201,239);
    background: linear-gradient(0deg, rgba(89,201,239,1) 0%, rgba(232,161,177,1) 25%, rgba(232,161,177,1) 37%, rgba(255,255,255,1) 50%, rgba(232,161,177,1) 63%, rgba(232,161,177,1) 75%, rgba(89,201,239,1) 100%);
}

/* ===========================================================================================================*/

.horror__header {
    font: "Simbiot";
    width: 100%;
    height: 5rem;
    background: var(--darkCharcoal);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horror__body {
    background-image: url("Images/bloody_background.jpg");
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem 5rem;
    align-items: center;
}

.horror__image {
    height: 50%;
    max-height: 16rem;
    
    border: 6px solid var(--darkCharcoal);
    
}

.horror__image:hover {
    height: 70%;
    max-height: 17rem;
    border: 6px solid var(--darkCharcoal);
    transition: 0.3s ease;
}

/* ===========================================================================================================*/
.nav {
    width: 100%;
    position: fixed;
    justify-content: right;
    display: flex;
    top: 0;
}

.nav__button {
    width: 25%;
    max-width: 6rem;
    background: var(--darkCharcoal); 
    height: var(--seperatorHeight);
    border: none;  
}

.nav__button:hover {
    background: var(--charcoal);
}

.nav__menu {
    background: var(--charcoal); 
    left: 75%;
    top: 0;
    /*width: 200%;*/
    position: fixed;
    z-index: -2;
    width: 25%;
    transition: left 1s;
    height: 100%;

}

.nm__container {
    background: blue;      
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   
    left: 0;
}

.nm__button {
    display: flex;
    background: var(--darkCharcoal);
    width: 25vw;
    justify-content: right;
    padding: 0 2rem;
    height: 3rem;
    align-items: center;
    transition: 0.2s ease;
}

.nm__button:hover {
    transition: 0.4s ease;
    background: var(--charcoal);
}

#nav__image {
    width: 50%;
}

#wholeWebSite {
    left: 0;
    top: 0;
    transition: left 1s, top 1s;
    box-shadow: 0 0 50px rgba(0,0,0,0.6);
}